.home .cards-container {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  grid-template-rows: auto;
}

.home .card-bg {
  /* border: 1px solid #f2f2f2; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
}

.home .wide {
  grid-column: span 2;
}

.home .c-p {
  cursor: pointer;
}

.home .pane-image {
  min-width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  
}

.home .card-section {
  padding: 0 0.5rem;
  box-sizing: border-box;
}

@media (max-width: 1320px) {
  .home .cards-container {
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
  }
  
  .home .wide {
    grid-column: span 1;
  }
  
  .home .card-section {
    padding: 0 0.5rem;
  }
  
  .home .table-rem {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .home .cards-container {
    max-width: 500px;
    width: 90%;
    /* font-size: 0.85rem; */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  }
  
  .home .msg-rem {
    display: none !important;
  }
  
  .home .p-4 {
    padding: 0.5rem !important;
  }
  
  .home .pane-image {
    min-width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 375px) {
  /* .home .h5 {
    font-size: 1rem;
  } */
  
  .home .cards-container {
    margin: 10px 0;
  }
}

/* Info Box Styles */
.info {
  background-color: black;
  color: white;
  margin: 0;
}

.info-box {
  border-top: 4px solid #00bfae; /* Skyblue-greenish color for the top border */
  background-color: #343a40;
  border: 2px solid #007bff;
  animation: borderColorChange 5s infinite;
  color: white;
  transition: transform 0.5s ease;
  width: 100%; 
  /* font-size: 1.5rem; */
}

.info-box:hover {
  transform: scale(1.03);
}

.info-box .card-title {
  color: rgb(99, 57, 57);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* font-size: 2rem; */
}

.info-box .card-text {
  color: #f8f9fa;
  animation: textSlide 5s ease-out;
  /* font-size: 1.4rem; */
  font-weight: 500; /* Adjust this value to make the text bolder */
}



/* video and side text */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 20px auto; */
  max-width: 95%;
}

.text-box {
  flex: 0 0 40%; 
  /* padding-right: 20px;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
}

.video-box {
  flex: 1; 
  margin-top: 5px;
}

h2 {
  color: white;
  /* font-size: 1.5rem;  */
  margin: 0;
}

p {
  color: white;
  /* font-size: 1.2rem; */
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .text-box {
    margin: 20px;
  }

  .video-box {
    margin-top: 0px;
  }
}


/* workspaces cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin: 0 auto;
  max-width: 95%;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; 
  }
}

.info-box {
  border: 1px solid #ddd; 
  border-radius: 10px; 
  overflow: hidden; 
}


@keyframes borderColorChange {
  0% {
    border-color: #007bff;
  }
  25% {
    border-color: #28a745;
  }
  50% {
    border-color: #ff69b4;
  }
  75% {
    border-color: #6f42c1;
  }
  100% {
    border-color: #007bff;
  }
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff, 0 0 20px #007bff;
  }
  to {
    text-shadow: 0 0 10px #6f42c1, 0 0 15px #6f42c1, 0 0 20px #6f42c1, 0 0 25px #6f42c1;
  }
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




/* for slogan */
.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Background color for contrast */
}

.typing-animation {
  color: hsl(66, 100%, 50%); /* Yellow color for the text */
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #FFD700; /* Cursor effect */
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #FFD700;
  }
}
