.home .cards-container {
  margin: auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 25px;
  grid-template-rows: auto;
}

.home .card-bg {
  /* border: 1px solid #f2f2f2; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
}

.home .wide {
  grid-column: span 2;
}

.home .c-p {
  cursor: pointer;
}

.home .pane-image {
  min-width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  
}

.home .card-section {
  padding: 0 0.5rem;
  box-sizing: border-box;
}

@media (max-width: 1320px) {
  .home .cards-container {
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
  }
  
  .home .wide {
    grid-column: span 1;
  }
  
  .home .card-section {
    padding: 0 0.5rem;
  }
  
  .home .table-rem {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .home .cards-container {
    max-width: 500px;
    width: 90%;
    font-size: 0.85rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  }
  
  .home .msg-rem {
    display: none !important;
  }
  
  .home .p-4 {
    padding: 0.5rem !important;
  }
  
  .home .pane-image {
    min-width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 375px) {
  .home .h5 {
    font-size: 1rem;
  }
  
  .home .cards-container {
    margin: 10px 0;
  }
}

/* Info Box Styles */
.info {
  background-color: black;
  color: white;
  margin: 0;
}

.info-box {
  border-top: 4px solid #00bfae; /* Skyblue-greenish color for the top border */
  background-color: #343a40;
  border: 2px solid #007bff;
  animation: borderColorChange 5s infinite;
  color: white;
  transition: transform 0.5s ease;
  width: 100%; 
  font-size: 1.5rem;
}

.info-box:hover {
  transform: scale(1.03);
}

.info-box .card-title {
  color: rgb(99, 57, 57);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.2rem;
}

.info-box .card-text {
  color: #f8f9fa;
  animation: textSlide 5s ease-out;
  font-size: 1.4rem;
  font-weight: 500; /* Adjust this value to make the text bolder */
}


@keyframes borderColorChange {
  0% {
    border-color: #007bff;
  }
  25% {
    border-color: #28a745;
  }
  50% {
    border-color: #ff69b4;
  }
  75% {
    border-color: #6f42c1;
  }
  100% {
    border-color: #007bff;
  }
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff, 0 0 20px #007bff;
  }
  to {
    text-shadow: 0 0 10px #6f42c1, 0 0 15px #6f42c1, 0 0 20px #6f42c1, 0 0 25px #6f42c1;
  }
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* styles.css */
/* .css */
.container {
  display: flex;
  flex-direction: row; /* Default layout: text box and video side by side */
  justify-content: space-between;
  margin: 20px auto;
  max-width: 95%; /* Adjust maxWidth as needed */
}

.text-box {
  flex: 0 0 40%; /* Fix the width of the text box to 40% */
  padding-right: 20px; /* Optional: add some spacing between text box and video */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text horizontally */
}

.video-box {
  flex: 1; /* Take up the remaining space */
}

h2 {
  color: white;
  font-size: 2.5rem; /* Increase the size of the title */
  margin: 0; /* Remove default margin */
}

p {
  color: white;
  font-size: 1.25rem; /* Increase the size of the paragraph text */
  line-height: 1.5; /* Adjust line height for better readability */
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .container {
    flex-direction: column; /* Stack the text box below the video */
  }

  .text-box {
    margin-bottom: 20px; /* Add space between the text box and the video */
  }

  .video-box {
    margin-bottom: 0; /* Remove bottom margin for the last element */
  }
}


