/* Subscription.css */

.home {
  background-color: #000;
  color: #fff;
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  height: calc(100% - 64px);
  overflow-y: scroll;
  padding: 20px;
}

.subscription-container {
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  max-width: 95%;
  margin: 0 auto;
}

.subscription-container h2 {
  margin-bottom: 20px;
  color: #32CD32; /* Attractive green color */
}

.subscription-container label {
  color: #fff; /* White color for labels */
}

.subscription-container .text-muted {
  color: #aaa; /* Light gray color for text-muted */
}


.subscription-container button {
  background-color: #32CD32; /* Attractive green color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.subscription-container button:hover {
  background-color: #28a745; /* Darker green on hover */
}

.subscription-container .form-range {
  background-color: #333; /* Dark background for range input */
}

.extra-info {
  margin-top: 30px;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 95%;
}

.extra-info h3 {
  margin-bottom: 20px;
  color: #32CD32; /* Attractive green color */
}

.info-sections {
  display: flex;
  flex-direction: column;
}

.info-section {
  margin-bottom: 20px;
}

.info-section h4 {
  color: #fff;
}

.info-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.info-section p, .info-section a {
  color: #ddd; /* Light gray color for text and links */
}

.info-section a:hover {
  color: #32CD32; /* Change link color on hover */
}
